bindings/src/main/resources/import-configuration.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (C) 2011-2016 52°North Initiative for Geospatial Open Source
    Software GmbH

    This program is free software; you can redistribute it and/or modify it
    under the terms of the GNU General Public License version 2 as published
    by the Free Software Foundation.

    If the program is linked with libraries which are licensed under one of
    the following licenses, the combination of the program with the linked
    library is not considered a "derivative work" of the program:

        - Apache License, version 2.0
        - Apache Software License, version 1.0
        - GNU Lesser General Public License, version 3
        - Mozilla Public License, versions 1.0, 1.1 and 2.0
        - Common Development and Distribution License (CDDL), version 1.0

    Therefore the distribution of the program linked with libraries licensed
    under the aforementioned licenses, is permitted by the copyright holders
    if the distribution is compliant with both the GNU General Public
    License version 2 and the aforementioned licenses.

    This program is distributed in the hope that it will be useful, but
    WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General
    Public License for more details.

-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
        xmlns="http://52north.org/sensorweb/sos/importer/0.5/"
        targetNamespace="http://52north.org/sensorweb/sos/importer/0.5/"
        elementFormDefault="qualified"
        attributeFormDefault="unqualified">
    <!--

            BASE TYPES

    -->
    <xs:annotation>
        <xs:documentation>TODO enter documentation here.</xs:documentation>
    </xs:annotation>
    <xs:element name="CommentIndicator">
        <xs:annotation>
            <xs:documentation>
                Character for marking non content lines in CSV files. Length
                restriction set to 1 character.
            </xs:documentation>
        </xs:annotation>
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:length value="1"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="Code" type="xs:string" nillable="false">
        <xs:annotation>
            <xs:documentation>
                The UCUM code used to observed property.
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="ColumnSeparator" type="xs:string" nillable="false">
        <xs:annotation>
            <xs:documentation>
                Character for separating element in content lines in CSV files.
                Length restriction set to 1 character.
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="Encoding" type="xs:string" default="UTF-8">
        <xs:annotation>
            <xs:documentation>
                Encoding of the datafile, e.g. "UTF-8"
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="EPSGCode">
        <xs:annotation>
            <xs:documentation>
                Integer identifying the used EPSG (between 0...
            </xs:documentation>
        </xs:annotation>
        <xs:simpleType>
            <xs:restriction base="xs:integer">
                <xs:minInclusive value="0"/>
                <xs:maxInclusive value="32767"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="FirstLineWithData" default="0">
        <xs:annotation>
            <xs:documentation>
                Defining the first line with data. Line counting starts with 0.
            </xs:documentation>
        </xs:annotation>
        <xs:simpleType>
            <xs:restriction base="xs:int">
                <xs:minInclusive value="0"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="ID" nillable="false">
        <xs:annotation>
            <xs:documentation>
                A ID for linking resources to column and vice versa.
            </xs:documentation>
        </xs:annotation>
        <xs:simpleType>
            <xs:restriction base="xs:ID"/>
        </xs:simpleType>
    </xs:element>
    <xs:element name="IdRef">
        <xs:annotation>
            <xs:documentation>
                A link to another resource using an ID.
            </xs:documentation>
        </xs:annotation>
        <xs:simpleType>
            <xs:restriction base="xs:IDREF"/>
        </xs:simpleType>
    </xs:element>
    <xs:element name="Key">
        <xs:annotation>
            <xs:documentation>The key of a key-value-pair.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:enumeration value="GROUP">
                    <xs:annotation>
                        <xs:documentation>
                            Indicates the membership of this column in a 
                            POSITION or DATE_TIME group.
                        </xs:documentation>
                    </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="NO_DATA_VALUE">
                    <xs:annotation>
                        <xs:documentation>
                            Indicates a missing value of this column. <!--FIXME: more specify?-->
                        </xs:documentation>
                    </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="HUNK_SIZE">
                    <xs:annotation>
                        <xs:documentation>
                           Use in combination with IMPORT_STRATEGY. Defines
                           the number of observations to import per request.
                        </xs:documentation>
                    </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="IMPORT_STRATEGY"/>
                <xs:enumeration value="NAME">
                    <xs:annotation>
                        <xs:documentation>
                            Specifies the name of the OM_PARAMETER column
                            it is used within.
                        </xs:documentation>
                    </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="TIME"/>
                <xs:enumeration value="TIME_DAY"/>
                <xs:enumeration value="TIME_HOUR"/>
                <xs:enumeration value="TIME_MINUTE"/>
                <xs:enumeration value="TIME_MONTH"/>
                <xs:enumeration value="TIME_SECOND"/>
                <xs:enumeration value="TIME_YEAR"/>
                <xs:enumeration value="TIME_ZONE"/>
                <xs:enumeration value="TYPE"/>
                <xs:enumeration value="OTHER"/>
				<xs:enumeration value="PARENT_FEATURE_IDENTIFIER">
                    <xs:annotation>
                        <xs:documentation>
                            If present, the related feature of interest column
                            will get this identifier set as sampled feature for
                            each observation.
                        </xs:documentation>
                    </xs:annotation>
				</xs:enumeration>
                <xs:enumeration value="PARSE_PATTERN"/>
                <xs:enumeration value="POSITION_ALTITUDE"/>
                <xs:enumeration value="POSITION_EPSG_CODE"/>
                <xs:enumeration value="POSITION_LATITUDE"/>
                <xs:enumeration value="POSITION_LONGITUDE"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="Name" type="xs:string" nillable="false">
        <xs:annotation>
            <xs:documentation>
                Human readable name of a resource like FOI, Sensor, Observed
                Property,...
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="Number" nillable="false">
        <xs:annotation>
            <xs:documentation>
                Reference the columns in the data file. Column counting starts
                with 0.
            </xs:documentation>
        </xs:annotation>
        <xs:simpleType>
            <xs:restriction base="xs:int">
                <xs:minInclusive value="0"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="Password">
        <xs:annotation>
            <xs:documentation>
                Password for the remote data file. Length restriction of 256
                characters.
            </xs:documentation>
        </xs:annotation>
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:maxLength value="256"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="Path" nillable="false">
        <xs:annotation>
            <xs:documentation>
                Operating System compliant definition of the path to the local
                data file.
            </xs:documentation>
        </xs:annotation>
        <xs:simpleType>
            <xs:restriction base="xs:string"/>
        </xs:simpleType>
    </xs:element>
    <xs:element name="RegularExpressionForAllowedFileNames" nillable="false">
        <xs:annotation>
            <xs:documentation>
                Optional regular expression the data files have to match if
                Path is pointing to an directory. Specify the expression in
                conformance to 
                http://docs.oracle.com/javase/6/docs/api/index.html?java/util/regex/Pattern.html
            </xs:documentation>
        </xs:annotation>
        <xs:simpleType>
            <xs:restriction base="xs:string"/>
        </xs:simpleType>
    </xs:element>
    <xs:element name="TextIndicator">
        <xs:annotation>
            <xs:documentation>
                Character for indicating text in elements in CSV files. Length
                restriction set to 1 character.
            </xs:documentation>
        </xs:annotation>
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:length value="1"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="Type" default="DO_NOT_EXPORT">
        <xs:annotation>
            <xs:documentation>
                Type of the column. It defines the class of content. The
                application handles the optional metadata to parse the content
                depending on this type definition, for example.
            </xs:documentation>
        </xs:annotation>
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:enumeration value="DO_NOT_EXPORT">
                    <xs:annotation>
                        <xs:documentation>
                            Do not export this column. It should be ignored by
                            the application.
                        </xs:documentation>
                    </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="MEASURED_VALUE">
                    <xs:annotation>
                        <xs:documentation>
                            The result of the performed observation, in most
                            cases some value.
                        </xs:documentation>
                    </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="DATE_TIME">
                    <xs:annotation>
                        <xs:documentation>
                            The date or time or date and time of the performed
                            observation.
                        </xs:documentation>
                    </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="POSITION">
                    <xs:annotation>
                        <xs:documentation>
                            The position of the performed observation.
                        </xs:documentation>
                    </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="FOI">
                    <xs:annotation>
                        <xs:documentation>
                            The feature of interest.
                        </xs:documentation>
                    </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="OBSERVED_PROPERTY">
                    <xs:annotation>
                        <xs:documentation>
                            The observed property.
                        </xs:documentation>
                    </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="UOM">
                    <xs:annotation>
                        <xs:documentation>
                            The Unit of measure using UCUM codes.
                        </xs:documentation>
                    </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="SENSOR">
                    <xs:annotation>
                        <xs:documentation>The sensor id.</xs:documentation>
                    </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="OM_PARAMETER">
                    <xs:annotation>
                        <xs:documentation>An additional attribute of an observation.</xs:documentation>
                    </xs:annotation>
                </xs:enumeration>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="Value">
        <xs:annotation>
            <xs:documentation>
                The value of a key-value-pair. Potential values: 
                    TYPE->MeasuredValue: NUMERIC | COUNT | BOOLEAN | TEXT; 
                    TYPE->OM_PARAMETER: NUMERIC | COUNT | BOOLEAN | TEXT | CATEGORY
                    TYPE->DATE_TIME: (COMBINATION | UNIX_TIME).
            </xs:documentation>
        </xs:annotation>
        <xs:simpleType>
            <xs:restriction base="xs:string"/>
        </xs:simpleType>
    </xs:element>
    <xs:element name="URI" nillable="false">
        <xs:annotation>
            <xs:documentation>
            Any URL compliant with RFC 3986 "URI"
            (https://tools.ietf.org/html/rfc3986)
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:anyURI">
                    <xs:attribute name="useAsPrefix" type="xs:boolean" use="optional">
                        <xs:annotation>
                            <xs:documentation>
                            Parameter used for generated resources
                            </xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="URL" nillable="false">
        <xs:annotation>
            <xs:documentation>
                Any URL compliant with RFC 3986 "URI" 
                (https://tools.ietf.org/html/rfc3986) or
                better RFC 1738 "URL"
                (https://tools.ietf.org/html/rfc1738)
            </xs:documentation>
        </xs:annotation>
        <xs:simpleType>
            <xs:restriction base="xs:anyURI"/>
        </xs:simpleType>
    </xs:element>
    <xs:element name="UseHeader" type="xs:boolean" default="false">
        <xs:annotation>
            <xs:documentation>
                Define to use (case "true") or not to use (case "false") the
                potential header information to search for metadata in the data
                file.
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="UserName">
        <xs:annotation>
            <xs:documentation>
                Username for the remote data file. Length restriction of 256
                characters.
            </xs:documentation>
        </xs:annotation>
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:maxLength value="256"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <!--
         
            COMPLEX TYPES
            
     -->
    <xs:element name="Resource" type="ResourceType" abstract="true"/>
    <xs:complexType name="ResourceType">
        <xs:sequence>
            <xs:element ref="ID"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="GeneratedResource" type="GeneratedResourceType" substitutionGroup="Resource"/>
    <xs:complexType name="GeneratedResourceType">
        <xs:complexContent>
            <xs:extension base="ResourceType">
                <xs:sequence>
                    <xs:element ref="Number" maxOccurs="unbounded"/>
                    <xs:element ref="URI" minOccurs="0"/>
                    <xs:element name="ConcatString" type="xs:string" nillable="false" minOccurs="0"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="GeneratedSpatialResource" type="GeneratedSpatialResourceType" substitutionGroup="GeneratedResource"/>
    <xs:complexType name="GeneratedSpatialResourceType">
        <xs:complexContent>
            <xs:extension base="GeneratedResourceType">
                <xs:sequence>
                    <xs:element ref="Position"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="ManualResource" type="ManualResourceType" substitutionGroup="Resource"/>
    <xs:complexType name="ManualResourceType">
        <xs:complexContent>
            <xs:extension base="ResourceType">
                <xs:sequence>
                    <xs:element ref="URI"/>
                    <xs:element ref="Name"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="SpatialResource" type="SpatialResourceType" substitutionGroup="ManualResource"/>
    <xs:complexType name="SpatialResourceType">
        <xs:complexContent>
            <xs:extension base="ManualResourceType">
                <xs:sequence>
                    <xs:element ref="Position"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="RelatedUnitOfMeasurement">
        <xs:annotation>
            <xs:documentation>
                The unit of measurement related to THIS entity. The content of
                this element MUST match a ID element of a UnitOfMeasurement
                from AdditionalMetadata OR a column Number.
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:choice>
                <xs:element ref="IdRef"/>
                <xs:element ref="Number"/>
            </xs:choice>
        </xs:complexType>
    </xs:element>
    <xs:element name="RelatedObservedProperty">
        <xs:annotation>
            <xs:documentation>
                The observed property related to THIS entity. The content of
                this element MUST match a ID element of a ObservedProperty
                from AdditionalMetadata OR a column Number.
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:choice>
                <xs:element ref="IdRef"/>
                <xs:element ref="Number"/>
            </xs:choice>
        </xs:complexType>
    </xs:element>
    <xs:element name="RelatedOmParameter">
        <xs:annotation>
            <xs:documentation>
                A O'n'M 2.0 Parameter related to THIS entity. The content of this
                element MUST match a column Number.
            </xs:documentation>
        </xs:annotation>
        <xs:simpleType>
            <xs:restriction base="xs:integer">
                <xs:minInclusive value="0" />
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="RelatedSensor">
        <xs:annotation>
            <xs:documentation>
                The sensor related to THIS entity. The content of this element
                MUST match a ID element of a Sensor from AdditionalMetadata OR
                a column Number.
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:choice>
                <xs:element ref="IdRef"/>
                <xs:element ref="Number"/>
            </xs:choice>
        </xs:complexType>
    </xs:element>
    <xs:element name="RelatedFOI">
        <xs:annotation>
            <xs:documentation>
                The feature of interest related to THIS entity. The content of
                this element MUST match a ID element of a FeatureOfInterest
                from AdditionalMetadata OR a column Number.
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:choice>
                <xs:element ref="IdRef"/>
                <xs:element ref="Number"/>
            </xs:choice>
        </xs:complexType>
    </xs:element>
    <xs:element name="FeatureOfInterest" type="FeatureOfInterestType">
        <xs:annotation>
            <xs:documentation>
                A feature of interest (linked to a column by URI element and
                relatedFOI element in column metadata)
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:complexType name="FeatureOfInterestType">
        <xs:sequence>
            <xs:element ref="Resource"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="UnitOfMeasurement" type="UnitOfMeasurementType">
        <xs:annotation>
            <xs:documentation>
                A unit of measure related to a measured value column (linked by
                URI element and relatedUOM in column metadata in measured value
                column)
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:complexType name="UnitOfMeasurementType">
        <xs:sequence>
            <xs:element ref="Resource"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="ObservedProperty" type="ObservedPropertyType">
        <xs:annotation>
            <xs:documentation>
                A observed property (linked to a column by URI element and
                relatedObservedProperty element in column metadata)
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:complexType name="ObservedPropertyType">
        <xs:sequence>
            <xs:element ref="Resource"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="Sensor" type="SensorType">
        <xs:annotation>
            <xs:documentation>
                A sensor (linked to a column by URI element and relatedFOI
                element in column metadata)
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:complexType name="SensorType">
        <xs:sequence>
            <xs:element ref="Resource"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="Alt">
        <xs:annotation>
            <xs:documentation>Altitude element of a position</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:float">
                    <xs:attribute name="unit" type="xs:string" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="AdditionalMetadata">
        <xs:annotation>
            <xs:documentation>
                Additional metadata not contained in any column.
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="Metadata" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element ref="Sensor" minOccurs="0" maxOccurs="unbounded">
                    <xs:annotation>
                        <xs:documentation>
                            A sensor (linked to a column by ID element and
                            relatedSensor element in column metadata)
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element ref="ObservedProperty" minOccurs="0" maxOccurs="unbounded">
                    <xs:annotation>
                        <xs:documentation>
                            An observed property (linked to a column by URI
                            element and relatedObservedProperty element in
                            column metadata)
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element ref="FeatureOfInterest" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element ref="UnitOfMeasurement" minOccurs="0" maxOccurs="unbounded">
                    <xs:annotation>
                        <xs:documentation>
                            A unit of measurement related to a measured value
                            column (linked by URI element and relatedUOM in
                            column metadata in measured value column)
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="FOIPosition" minOccurs="0" maxOccurs="unbounded">
                    <xs:annotation>
                        <xs:documentation>
                            In the case of having a column of FOIs, the related
                            position information is stored here.
                        </xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element ref="URI"/>
                            <xs:element ref="Position"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="Column">
        <xs:annotation>
            <xs:documentation>
                A column in the data file. This elements holds the
                configuration how to parse the data elements in this column. In
                the case of a MeasuredValue column, the elements Related* are
                only present, if multiple resources of type * are present in
                the current set-up/file.
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="Number"/>
                <xs:element ref="Type"/>
                <xs:element ref="Metadata" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element ref="Position" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>
                            A position using x,y,z (unit for each), epsg-code
                            or the group this position is build from
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="RelatedDateTimeGroup" type="xs:string" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>
                            This optional element links THIS measured value
                            column to a DateTimke group in the model by its
                            group ID. It is defined in a Metadata element with
                            the Key.GROUP. When this element is not defined,
                            all measured value columns share the same date time
                            group.
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element ref="RelatedFOI" minOccurs="0" maxOccurs="unbounded">
                    <xs:annotation>
                        <xs:documentation>
                            The feature of interest related to THIS measured
                            value column. The content of this element MUST
                            match a ID element of a FeatureOfInterest from
                            AdditionalMetadata OR a column Number.
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="RelatedMeasuredValueColumn" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>
                            Column number of the measured value column this
                            column is related to.
                        </xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                        <xs:restriction base="xs:integer">
                            <xs:minInclusive value="0"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element ref="RelatedObservedProperty" minOccurs="0" maxOccurs="unbounded">
                    <xs:annotation>
                        <xs:documentation>
                            The observed property related to THIS measured
                            value column. The content of this element MUST
                            match a ID element of a ObservedProperty from
                            AdditionalMetadata OR a column Number.
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element ref="RelatedSensor" minOccurs="0" maxOccurs="unbounded">
                    <xs:annotation>
                        <xs:documentation>
                            WHY NOT LIMITED TO 1? The sensor related to THIS
                            measured value column. The content of this element
                            MUST match a ID element of a Sensor from
                            AdditionalMetadata OR a column Number.
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element ref="RelatedUnitOfMeasurement" minOccurs="0" maxOccurs="unbounded">
                    <xs:annotation>
                        <xs:documentation>
                            The unit of measurement related to THIS measured
                            value column. The content of this element MUST
                            match a ID element of a UnitOfMeasurement from
                            AdditionalMetadata OR a column Number.
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element ref="RelatedOmParameter" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="ColumnAssignments">
        <xs:annotation>
            <xs:documentation>
                Information about each column in the data file. Holding
                instructions how to parse the elements of each column.
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="Column" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="CsvMetadata">
        <xs:annotation>
            <xs:documentation>
                Metada regarding the CSV format and each column in the data
                file.
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="ColumnAssignments"/>
                <xs:element ref="DecimalSeparator">
                    <xs:annotation>
                        <xs:documentation>
                            The global decimal mark. It delimits the decimal
                            places of a numeric value. For example, '.' would
                            be the decimal separator for the numeric value
                            "1234.56".
                        </xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="FirstLineWithData"/>
				<xs:element ref="Parameter"/>
				<xs:element ref="UseHeader"/>
				<xs:element ref="CsvParserClass" minOccurs="0"/>
	            <xs:element ref="UseLastTimestamp" minOccurs="0" maxOccurs="1" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="UseLastTimestamp" type="xs:boolean" default="false">
		<xs:annotation>
			<xs:documentation>
                If available and "UseLastTimestamp"
                is set to TRUE, the saved time stamp will be used
                to ignore data older than the specified time stamp.
                The saved value is updated after processing an
                entire datafile.
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="CsvParserClass">
		<xs:annotation>
			<xs:documentation>
                  The class that MUST be used for parsing the data file. The
                  interface org.n52.sos.importer.feeder.CsvParser MUST be
                  implemented. The class name MUST contain the fully qualified
                  package name and a zero-argument constructor MUST be provided.
              </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attribute name="ignoreColumnCountMismatch" type="xs:boolean" use="optional"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="Credentials">
        <xs:annotation>
            <xs:documentation>
                Optional credentials for the remote data file.
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="UserName"/>
                <xs:element ref="Password"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="DataFile">
        <xs:annotation>
            <xs:documentation>
                The file holding the observations in CSV format.
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:choice>
                <xs:sequence>
                    <xs:element ref="LocalFile"/>
                    <xs:element ref="IgnoreLineRegEx" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
                <xs:sequence>
                    <xs:element ref="RemoteFile"/>
                    <xs:element ref="IgnoreLineRegEx" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:choice>
            <xs:attribute name="referenceIsARegularExpression" type="xs:boolean" use="required">
                <xs:annotation>
                    <xs:documentation>
                        If set to TRUE the LocaleFile.Path or
                        RemoteFile.URL contains a regular expression
                        needing special handling before retrieving the
                        data file.
                    </xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="useDateFromLastModifiedDate" type="xs:boolean">
                <xs:annotation>
                    <xs:documentation>
                        If set to TRUE the last modified date of the
                        datafile will be used as date value for the
                        observation of this data file.
                    </xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="lastModifiedDelta">
                <xs:annotation>
                    <xs:documentation>
                        If available and "useDateFromLastModifiedDate"
                        is set to TRUE, the date value will be set to n
                        days before last modified date.
                    </xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:int">
                        <xs:minInclusive value="1"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="regExDateInfoInFileName" type="xs:string">
                <xs:annotation>
                    <xs:documentation>
                        If present, the contained regular expression
                        will be applied to the file name of the datafile
                        to extract date information in combination with
                        the "dateInfoPattern". Hence, this pattern is
                        used to extract the date string and the
                        dateInfoPattern is used to convert this date
                        string into valid date information. The pattern
                        MUST contain one group that holds all date
                        information!
                    </xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="dateInfoPattern" type="xs:string">
                <xs:annotation>
                    <xs:documentation>
                        MUST be set, if regExDateInfoInFileName is set,
                        for converting the date string into valid date
                        information. Supported pattern elements: y, M,
                        d, H, m, s, z, Z
                    </xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="headerLine" type="xs:integer">
                <xs:annotation>
                    <xs:documentation>
                        Identifies the header line. MUST be set in the
                        case of having the header line repeatedly in the
                        data file.
                    </xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="sampleStartRegEx" type="xs:string">
                <xs:annotation>
                    <xs:documentation>
                        Identifies the beginning of an new sample in the
                        data file. Requires the presence of the
                        following attributes: * sampleDateOffset *
                        sampleDateExtractionRegEx * sampleDatePattern *
                        sampleDataOffset A "sample" is a single sampling
                        run having additional metadata like date
                        information which is not contained in the lines.
                    </xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="sampleDateOffset">
                <xs:annotation>
                    <xs:documentation>
                        Defines the offset in lines between the first
                        line of a sample and the line containing the
                        date information.
                    </xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:int">
                        <xs:minInclusive value="1"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="sampleDateExtractionRegEx" type="xs:string">
                <xs:annotation>
                    <xs:documentation>
                        Regular expression to extract the date
                        information from the line containing the date
                        information of the current sample. The
                        expression MUST result in ONE group. This group
                        will be parsed to a java.util.Date using
                        "sampleDatePattern" attribute.
                    </xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="sampleDatePattern" type="xs:string">
                <xs:annotation>
                    <xs:documentation>
                        Defines the pattern used to parse the date
                        information of the current sample.
                    </xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="sampleDataOffset">
                <xs:annotation>
                    <xs:documentation>
                        Defines the offset in lines from sample
                        beginning till the first lines with data.
                    </xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:int">
                        <xs:minInclusive value="1"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="sampleSizeOffset">
                <xs:annotation>
                    <xs:documentation>
                        Defines the offset in lines from sample
                        beginning till the line containing the sample
                        size in lines with data.
                    </xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:int">
                        <xs:minInclusive value="1"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="sampleSizeRegEx" type="xs:string">
                <xs:annotation>
                    <xs:documentation>
                        Defines a regular expression to extract the
                        sample size. The regular expression MUST result
                        in ONE group which contains an integer value.
                    </xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="sampleSizeDivisor" use="optional" default="1">
                <xs:annotation>
                    <xs:documentation>
                        Defines a divisor that is applied to the sample size.
                        Can be used in cases the sample size is not giving the
                        number of samples but the time span of the sample. The
                        divisor is used to calculate the number of lines in a
                        sample.
                    </xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:int">
                        <xs:minInclusive value="1"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
        </xs:complexType>
    </xs:element>
    <xs:element name="DecimalSeparator" default="." nillable="false">
        <xs:annotation>
            <xs:documentation>
                The decimal mark delimits the decimal places of a numeric value.
                For example, '.' would be the decimal separator for the numeric
                value "1234.56".
            </xs:documentation>
        </xs:annotation>
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:length value="1" fixed="true"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="Group" nillable="false">
        <xs:annotation>
            <xs:documentation>
                Reference to a position group defined in the 
                CsvMetadata.ColumnAssignments
            </xs:documentation>
        </xs:annotation>
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:length value="1"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="IgnoreLineRegEx">
        <xs:annotation>
            <xs:documentation>
                A regular expression identifying lines that can be ignored 
                during the import process.
            </xs:documentation>
        </xs:annotation>
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:minLength value="1" fixed="false"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="Lat">
        <xs:annotation>
            <xs:documentation>Latitude element of a position</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:float">
                    <xs:attribute name="unit" type="xs:string" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="LocalFile">
        <xs:annotation>
            <xs:documentation>
                A data file located on the same machine.
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="Path"/>
                <xs:element ref="RegularExpressionForAllowedFileNames" minOccurs="0"/>
                <xs:element ref="Encoding" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="Long">
        <xs:annotation>
            <xs:documentation>Longitude element of a position</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:float">
                    <xs:attribute name="unit" type="xs:string" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="Metadata">
        <xs:annotation>
            <xs:documentation>
                A key-value-pair holding some additional metadata.
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="Key"/>
                <xs:element ref="Value">
                    <xs:annotation>
                        <xs:documentation>
                            The value of a key-value-pair. Potential values: 
                                TYPE->MeasuredValue: 
                                    NUMERIC | COUNT | BOOLEAN | TEXT
                                TYPE->DATE_TIME: COMBINATION | UNIX_TIME
                                IMPORT_STRATEGY->
                                    SingleObservation | 
                                    SweArrayObservationWithSplitExtension
                                HUNK_SIZE->Integer value defining the number of
                                    rows that should be combined in one
                                    SWEArrayObservation.
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="Offering">
        <xs:annotation>
            <xs:documentation>
                Offering in the SOS which is used for the import. Might be
                generated from sensor id.
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attribute name="generate" type="xs:boolean" use="optional" default="true">
                        <xs:annotation>
                            <xs:documentation>
                                If set to "true", the offering should be
                                generated from the sensor id. If set to "false"
                                , the xs:string content of element "Offering"
                                should be used as offering for inserting the
                                data.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="Parameter">
        <xs:annotation>
            <xs:documentation>Basic CSV file parameters.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="CommentIndicator"/>
                <xs:element ref="ColumnSeparator"/>
                <xs:element ref="TextIndicator"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="Position">
        <xs:annotation>
            <xs:documentation>
                A position using x,y,z, unit for each, epsg-code
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:choice>
                <xs:sequence>
                    <xs:element ref="Alt" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>
                                Altitude element of a position. Presence
                                depends on CRS.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element ref="EPSGCode"/>
                    <xs:element ref="Lat"/>
                    <xs:element ref="Long"/>
                </xs:sequence>
                <xs:element ref="Group">
                    <xs:annotation>
                        <xs:documentation>
                            Links to a position group defined in the
                            CsvMetadata.ColumnAssignments.Column.Metadata.Key
                            ::Group
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:complexType>
    </xs:element>
    <xs:element name="RemoteFile">
        <xs:annotation>
            <xs:documentation>
                A data file located on a remote server which might required
                credentials to be accessed.
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="URL"/>
                <xs:element ref="Credentials" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="SosMetadata">
        <xs:annotation>
            <xs:documentation>
                Metadata regarding the SOS limited to URL and offering.
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="URL"/>
                <xs:element ref="Offering">
                    <xs:annotation>
                        <xs:documentation>
                            Offering in the SOS which is used for the
                            import. Might be generated from sensor id.
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="Version" type="xs:string">
                    <xs:annotation>
                        <xs:documentation>
                            Indicates the specification version
                            implemented by the SOS instance. E.g. 1.0.0,
                            2.0.0.
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="Binding" type="xs:string" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>
                            If version 2.0.0 is used, the binding has to
                            be defined, e.g. SOAP, POX binding.
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element ref="Credentials" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>
                            If the sos server is protected by Basic
                            authentication, the user name and password has to
                            be defined.
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:sequence>
            <xs:attribute name="insertSweArrayObservationTimeoutBuffer">
                <xs:annotation>
                    <xs:documentation>
                        An additional timeout buffer for connect and socket 
                        timeout when using import strategy 
                        "SweArrayObservationWithSplitExtension". Scale is in
                        milliseconds, e.g. 1000 => 1s more connect and socket
                        timeout.
                        The size of this value is related to the set-up of the
                        SOS server, importer, and the HUNK_SIZE value.
                        The current OX-F SimpleHttpClient implementation uses
                        a default value of 5s, hence setting this to 25,000 
                        results in 30s connection and socket timeout.
                    </xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:int">
                        <xs:minInclusive value="1"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
        </xs:complexType>
    </xs:element>
    <!--
         
            ROOT ELEMENT
            
     -->
    <xs:element name="SosImportConfiguration">
        <xs:annotation>
            <xs:documentation>
                Configuration for a data file containing observations. These
                observations should be imported to a running SOS instance using
                the transactional interface. The configuration is used by the 
                52n-sensorweb-importer to store the metadata and re-use it for
                later import runs.
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="DataFile"/>
                <xs:element ref="SosMetadata"/>
                <xs:element ref="CsvMetadata"/>
                <xs:element ref="AdditionalMetadata" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
